.Header{
    width: 100%;
    height: 30%;
    display: flex;
    background-image: url(../backgroundHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;    
}
.HeaderWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.HeaderTitleWrapper{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.HeaderTitleWrapper p{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.searchBar{
    flex:1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.seacrhInput{
    width: 80%;
    height: 25px;
}
.searchButton{
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    /* border: 1px solid grey; */
    background-image: url(../searchImage.svg);
    background-color: white;
}
.searchButton p{
    /* border: 1px solid red; */
}
.filterBar{
    flex:1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.textCategories{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.selectCategories{
    height: 65%;
    width: 30%;
}
.textSortingBy{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.selectSortingBy{
    height: 65%;
    width: 30%;
}